@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
  background: radial-gradient(75% 100% at 70% 100%,#ff007a1a 0,#fff0 100%);
}

.tag{
  background:  linear-gradient(93.06deg, rgb(255, 0, 199) 2.66%, rgb(255, 159, 251) 98.99%);
}

.ant-popover-arrow {
  visibility: hidden;
}
